@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.heroHomeBanner {
  background: url("../../public/images/heroBgHome.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
